<header id="main-header">
  <div id="site-title">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <div class="links">
  {% assign current = page.title %}
  <a href="{{ site.baseurl }}/about" class="page-link{% if current == null %} active{% endif %}">About</a>
  <a href="https://github.com/SnorriDev/thoth/wiki" class="page-link{% if current == null %} active{% endif %}">Thoth</a>
  <a href="{{ site.baseurl }}/Resume.pdf" class="page-link{% if current == null %} active{% endif %}">Resume</a>
  <a href="http://github.com/viking-sudo-rm"
    target="_blank"
    class="page-link github-link">
    <img src="{{ "/images/github-repo.png" | prepend: site.baseurl }}" alt="Github">
  </a> 
  </div>
</header>
