<header id="main-header">
  <div id="site-title">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <div class="links">
  {% assign current = page.title %}
  {% for page in site.pages %}
    {% if page.not_in_header %}{% continue %}{% endif %}
    {% if page.title %}
      <a class="page-link{% if current == page.title %} active{% endif %}"
        href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
<!--   <a href="{{ site.baseurl }}/about" class="page-link{% if current == null %} active{% endif %}">About</a> -->
  <a href="http://snorridev.github.io/thoth" class="page-link">Thoth</a>
  <a href="{{ site.baseurl }}/files/Resume.pdf" class="page-link">Resume</a>
  <a href="http://github.com/viking-sudo-rm"
    target="_blank"
    class="page-link github-link">
    <img src="{{ "/images/github-repo.png" | prepend: site.baseurl }}" alt="Github">
  </a>
  <a href="https://www.youtube.com/channel/UCH2hlHYA5oFXIrkMFLS6X0w"
    target="_blank"
    class="page-link github-link">
    <img src="{{ "/images/youtube_icon.png" | prepend: site.baseurl }}" alt="Youtube">
  </a> 
  </div>
</header>
